<mat-card>
    <mat-card-title>Country Name</mat-card-title>
    <div class="small-card-wrapper">
        <mat-card>
            <mat-card-subtitle>Coronavirus Cases:</mat-card-subtitle>
            <mat-card-content>Count</mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-subtitle>Deaths:</mat-card-subtitle>
            <mat-card-content>Count</mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-subtitle>Recovery:</mat-card-subtitle>
            <mat-card-content>Count</mat-card-content>
        </mat-card>
    </div>
</mat-card>