@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');
* {
    font-family: 'Raleway', sans-serif;
}
mat-toolbar {
    background-color: black;
    color: whitesmoke;
    flex-wrap: wrap;
    justify-content: flex-end;
}
h1 {
    font-size: 2.0rem;
    font-family: 'Raleway', sans-serif;
}

.example-spacer {
    flex: 1 1 auto;
}
.contact-det {
    overflow: hidden;
}
button {
    font-size : 20px
}
button:focus { 
    outline: none; 
}

@media (max-width: 500px) {

.mat-toolbar-row, .mat-toolbar-single-row {
    padding-top: 10px;
    height: 80px;
    }

    h1{
        padding-top: 5;
        font-size: 1.7rem;
    }
    button {
        font-size : 1.3rem;
        justify-content: center;
    }
}